<IfModule mod_rewrite.c>

    # (1)
    RewriteEngine On

    # (2)
    Options +FollowSymlinks

    # (3)
    # Options +SymLinksIfOwnerMatch

    # (4)
    RewriteBase /

    # (5)
    # RewriteOptions <options>

    # (6)
    RewriteCond %{HTTPS} =on
    RewriteRule ^ - [env=proto:https]
    RewriteCond %{HTTPS} !=on
    RewriteRule ^ - [env=proto:http]

    RewriteRule ^forums/(.*) http://wj32.org/processhacker/forums/$1 [R=301]

</IfModule>


# custom PH code
<Files "config.php">
Order Allow,Deny
Deny from All
</Files>

<Files "error.php">
allow from all
</Files>

php_value memory_limit 32M