html {
    overflow-y: scroll; 
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    /*color: #FFFFFF; background-color: #222222; 
	font-family: "Segoe UI", sans-serif, Verdana, Helvetica, Arial;*/
}

p {
margin: 0 0 5px;
}

.jumbotron {
padding: 30px 15px;
}

#forumitem {
font-size: 12px;
font-family: ;
}

#forumitem img {
width: 16px;
height: 16px;
}

.footer {
color: silver;
}

#author { 
color:#A00
}

.panel-index {
padding: 0;
}

.well-sm {
padding: 9px 0;
}

#page-padding {
margin: 20px 0 0 0;
}

.nav-header {
color: #999;
}

#content a.button { 
    border: 1px solid #FFFFFF;
    display: inline-block; 
    font-family: Segoe UI;
    font-size: 24px;
    line-height: 46px;
    padding: 0 15px 3px;
}

#content a.button img { 
    float: right; 
    padding: 10px 0 0 15px; 
}



@media (min-width: 768px) {
.box
{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 0px solid #eee;
}
}

@media (max-width: 768px) {
.box
{
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
}
.centered {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    padding: 100px 0;
}

.info dt {
    float: left;
    font-weight: bold;
    padding: 3px 6px;
    clear: both;
    width: 30%;
}